/* Variables */
:root {
    --text-color: white;
    --text-black: black;
    --background-headphones: #071629;
    --button-color: #FF6565;
    --button-size: 0.87rem;
    --title-size: 2rem;
    --section-padding: 8.8rem 0;
    --margin-elements: 6.875rem;
    --margin-title: 3rem;
    --line-height: 1.5rem;
    --footer-bg-color: #071629;
}

/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    color: var(--text-color);
}

body {
    font-family: 'Source Sans 3', sans-serif;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
}

html {
    font-size: 16px;
    overflow-x: hidden;
}

ol, ul {
    list-style: none;
}

li a {
    text-decoration: none;
}

/* General */
.buttons {
    padding: 1rem 2rem;
    border-radius: 2rem;
    background: #ff6565;
    font-size: var(--button-size);
    font-weight: 600;
    color: white;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.titles {
    font-size: var(--title-size);
    font-weight: 600;
    margin: 0 0 .8rem 0;
}
.descriptions {
    max-width: 637px;
    line-height: var(--line-height);
    font-size: 1rem;
    letter-spacing: 0;
    padding: 1rem;

}

.buttons:hover {
    background: rgb(255, 101, 101, 0.9);
}

.buttons:active {
    transform: translateY(2px);
    transition: all 0.1s ease-in-out;
}


/* Header */
.header {
    position: absolute;
    width: 100%;
    max-width: 1400px;
    box-sizing: border-box;
    padding: 1.5rem 5rem;
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    justify-content: space-between;
    margin: 0 auto;
    box-sizing: border-box;
}

.header-container img,
.footer-logo img {
    width: 161px;
    height: 32px;
}

/* Menu desktop */
.header-list {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.header-list-element {
    font-size: 12px;
    font-weight: 600;
}

/* Hamburger button (hidden by default) */
.menu-btn {
    display: none;
}

.menu-icon {
    cursor: pointer;
    display: none;
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    z-index: 2;
}

.menu-icon .navicon {
    background: white;
    display: block;
    width: 1.2rem;
    height: 0.10rem;
    position: relative;
    transition: background 0.2s ease-out;
}

.menu-icon .navicon::before,
.menu-icon .navicon::after {
    content: "";
    display: block;
    width: 1.6rem;
    height: 0.10rem;
    position: absolute;
    background: white;
    transition: all 0.2s ease-out;
}

.menu-icon .navicon::before {
    top: 0.5rem;
}

.menu-icon .navicon::after {
    top: -0.5rem;
}

/* Mobile menu (hidden by default) */
.navbar-menu {
    display: none;
    flex-direction: column;
    background: transparent;
    text-align: center;
    padding: 1rem 0;
    position: static;
    font-weight: bold;
    transition: max-height .3s ease-in-out, opacity .4s ease-in-out;
}

.navbar-menu li {
    padding: 1rem 0;
}

/* Show mobile menu when checkbox is checked */
.menu-btn:checked ~ .navbar-menu {
    display: block;
    opacity: 1;
    max-height: 500px;
    pointer-events: none;
}

/* Animate hamburger to X */
.menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon::before {
    transform: rotate(-45deg);
    top: 0;
}

.menu-btn:checked ~ .menu-icon .navicon::after {
    transform: rotate(45deg);
    top: 0;
}

/* Hero Section */
.hero-section {
    padding: var(--section-padding);
    background-image: url(assets/images/headphones_hero_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: calc(100vh - 10rem);
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 10rem;
}

.hero-container {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-title {
    font-size: var(--title-size);
    font-weight: 600;
    margin: 6rem 0 .8rem 0;
}

.hero-subtitle {
    font-weight: 600;
    margin-bottom: 3rem;
}

.hero-container .buttons {
    margin-bottom: 3rem;
}

/* About Section */
.about-section {
    max-width: 1000px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6.875rem 0;
}

.about-title {
    color: var(--text-black);
    margin-bottom: 3rem;
    
}

.about-description {
    color: var(--text-black);
    margin-bottom: var(--margin-elements);
}

.about-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 193px;
    gap: 1.7rem;
}

.about-cards {
    flex: 1 1 25%;
    width: 190px;
    box-sizing: border-box;
}

.about-card-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90px;
}

.about-cards p {
    color: var(--text-black);
}

.about-card-title {
    font-size: 1.125rem;
    font-weight: 600;
}
.about-card-description {
    line-height: var(--line-height);
}

.details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    justify-items: center;
    width: 100%;
}

.about-cards {
    width: 100%;
    max-width: 200px;
    box-sizing: border-box;
}

/* Results Section */
.results-section {
    padding: var(--section-padding);
    background-image: url(assets/images/headphones_hero_2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.results-container {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.results-description {
    margin-bottom: var(--margin-elements);
    padding: 0 1rem;
}

.results-details {
    padding: 0 6rem;
}

.results-cards {
    background-image: url("assets/images/pentagone.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 200px;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 1rem;
}

.results-percent {
    font-size: 2.875rem;
    font-weight: bold;
    color: white;
    margin: 2.5rem 0 0 0;
}

.results-text {
    font-size: 0.875rem;
    color: white;
    margin-top: 0.5rem;
}

.results-title {
    font-size: var(--title-size);
    font-weight: 600;
    margin-bottom: var(--margin-title);
}



/* Contact Section */
.contact-section {
    padding: var(--section-padding);
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-title {
    color: black;
    text-align: center;
    margin-bottom: var(--margin-title);
    font-size: var(--title-size);
    font-weight: 600;
}

.contact-container {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-form {
    width: 335px;
    margin-bottom: var(--margin-elements);
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
}

.contact-form input {
    border-bottom: 1px solid rgb(0, 0 ,0 ,0.17);
    padding: 0.625rem 0.625rem 0.625rem 0.2rem;
    color: var(--text-black);
}

.contact-form input::placeholder {
    color: var(--text-black);
}

/* Footer */
.footer {
    width: 100%;
    max-width: 1400px;
    background-color: var(--footer-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 1rem 3rem 1rem;
}

.footer-container {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.75rem;
    padding: 0 3rem;
    box-sizing: border-box;
}

.footer-socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
}

.footer-socials img {
    width: 30px;
    height: 30px;
}

.copyright {
    color: rgb(255, 255, 255, 0.35);
}


@media (max-width: 768px) {
    .header {
        padding: 1.5rem 1.5rem;
    }
    .header-container {
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .menu-icon {
        display: flex;
        align-items: center;
        margin-right: auto;
        z-index: 2;
    }
    .header-logo {
        position: absolute;
        margin: 0 auto;
        width: 161px;
        height: 32px;
        object-fit: contain;
        z-index: 1;
        display: block;
    }
    .header-menu {
        display: none;
    }
    .navbar-menu {
        display: none;
        flex-direction: column;
        gap: .5rem;
        background: transparent;
        padding: 1rem 2rem;
        position: static;
        width: 100%;
        margin: 0;
    }
    .hero-container {
        max-width: 768px;
        width: 100%;
    }

    .hero-section {
        background-position: 37%;
    }

    .hero-title {
        margin: 7rem 0 0.8rem 0;
    }

    .hero-subtitle {
        margin: 0 3rem 3rem 3rem; 
    }

    .hero-description {
        padding: 0 1.3rem;
    }
    .details {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0;
        row-gap: 5rem;  
    }
}


@media (max-width: 375px) {
    .contact-form {
        width: 310px;
    }
    .results-container {
        padding: 0 1rem;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }
}


@media (max-width: 480px) {
    .details {
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 5rem;  
    }
    .footer-container {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
}
